<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css"></link>
  <script type="text/javascript" src="javascripts/jquery-1.6.4.min.js"></script> 
  <script type="text/javascript" src="javascripts/jquery.tablesorter.min.js"></script> 
</head>
<body>

<div class="container">

<%= yield %>

</div>

</body>
</html>
